[Unit]
Description=Send evidence collector heartbeat every 15 minutes

[Timer]
OnCalendar=*:0/15
Persistent=true
RandomizedDelaySec=1m

[Install]
WantedBy=timers.target

